<div class="my-form">
    <form>
        <h2>Zamówienie:</h2>

        <label>
            <span>Imie i nazwisko</span>
            <input type="text" class="input-text" id="naneandlast" name="nameandlast"> 
        </label> 

        <label>
            <span>Email</span>
            <input type="text" class="input-text" id="email" name="email">
        </label>

        <label>
            <span>Produkt</span>
            <select id="product" class="product" name="product">
                <option value="pralka">pralka</option>
                <option value="dlugopis">dlugopis</option>
                <option value="olowek">olowek</option>
                <option value="lodówka">lodówka</option>
            </select>
        </label>

        <label>
            <span>Ilosc</span>
            <input type="number" id="count" name="count" class="count">
        </label>
          
        <label>
            <span>Uwagi</span>
            <textarea cols="15" rows="5" class="attention" name="attention" id="attention"></textarea>
        </label>

        <button>Wyslij</button>
    </form>
</div>